<div class="row">
  <div class="col-lg-10">
    <form
      method="post"
      enctype="multipart/form-data"
      [formGroup]="addForm"
      (ngSubmit)="addSummit()"
    >
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Tên sản phẩm</label>
        <div class="col-sm-6">
          <input class="form-control" type="text" formControlName="name" />
          <span class="text-danger"></span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Hình ảnh</label>
        <div class="col-sm-6">
          <input class="form-control" type="file" formControlName="image" />
          <span class="text-danger"></span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Số lượng</label>
        <div class="col-sm-6">
          <input class="form-control" type="text" formControlName="quantity" />
          <span class="text-danger"></span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Giá</label>
        <div class="col-sm-6">
          <input class="form-control" type="text" formControlName="price" />
          <span class="text-danger"></span>
        </div>
      </div>
      <div class="form-group row col-sm-3">
        <input type="submit" value="Thêm" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>

<div>
  <a class="btn btn-primary">Quay lại danh sách</a>
</div>
